/*************************************/
/* Bordure à supprimer  */
/*************************************/

/*************************************/
/* Mini Barre d'état Consultation Diagnostic */
/*************************************/

.logoDeconnexion{
	margin-top: -68px;
	height: 55px;
	width: auto;
	float: right;
	margin-right: 30px;

}

h2{
  	background-size: 100%;
  	margin: 0 0 0 0;
  	padding-left: 11px;
  	font-family: Arial, Verdana, sans-serif;
	background-attachment: fixed;
  	color: #D90000;
  	display: block;
  	font-size: 1.17em;
  	-webkit-margin-before: 1em;
  	-webkit-margin-after: 1em;
  	-webkit-margin-start: 0px;
  	-webkit-margin-end: 0px;
  	font-weight: bold;
  	margin: 0px;
}

html
{
	overflow: scroll;
}

#content
{
	margin-top : 7%;
	margin-left: 19%;
	width: 55%;
	background-color: white;
  	border: #cccccc solid 1px;
	
	
}

.mini-barreEtat
{
	background-image:linear-gradient(#f9f9f9, #f1f1f1);
	border:#cccccc solid 1px;
	height: 27px;
	/*position: fixed;*/
}

.mini-barreEtat-boutons
{
	float:right;
}

#notificationRouge
{
	display : none;
}

#favoriteJaune
{
	display : none;
}

/*************************************/
/* Erp Diagnostic Infos Générales */
/*************************************/
#ErpDiagGeneral
{
	background :#f7f7f7;
	margin-left: 1%;
	width: 97.5%;
	margin-top: 16px;
	border:#cccccc solid 1px;
}

#ErpDiagGeneral > #ErpDiagTitre
{
	margin-top: -18px;
	background-image:linear-gradient(#f9f9f9, #f1f1f1);
	text-align: left;
	color: CornflowerBlue;
	font-size: medium;
	height: 27px;
}

#ErpDiagGeneral > .tableErpDiagGeneral
{
	
	font-size: small;
	
}

/*************************************/
/* Erp Diagnostic Infos Détaillées */
/*************************************/
#infoDetaille
{
	    border:#cccccc solid 1px;
	    margin-left: 1%;
		width: 97.5%;
		margin-top: 2%;
}

#buttShowEDD
{
	background-image:linear-gradient(#f9f9f9, #f1f1f1);
	text-align: left;
	color: CornflowerBlue;
	font-size: medium;
	height: 27px;
	margin-top: -18px;
}

#ErpDiagDetaille
{
	display: none;
    background: #F7F7F7;
    font-size: small; 
}

#nbBatimentErp
{
	font-size: small; 
	font-weight: bolder;
	text-align: left;
	color: CornflowerBlue;
	font-size: small;
	font-weight: bold;
	padding-bottom: 2%;
	padding-top: 2%;
}
#foncPiecesErp
{
	font-size: small; 
	font-weight: bolder;
}

/*************************************/
/* Section Diagnostic & Anomalies */
/*************************************/

#diagAnomalieSection
{
    font-size: small;
    font-weight: bolder;
	background: #F6F7F7;
	border:#cccccc solid 1px;
	margin-top: 2%;
	margin-left: 1%;
	width: 97.5%;
}

#diagAnomalieSection > #diagnosticFiche > #ficheDiagTitre
{
	background-image:linear-gradient(#f9f9f9, #f1f1f1);
	height: 27px;
	text-align: left;
	color: CornflowerBlue;
	font-size: medium;
	margin-top: -2%;
}

.ficheDiagTitreImage {
   	margin-top: -3.5%;
  	margin-left: 94%;
}

#diagAnomalieSection > #diagnosticFiche > #ficheAnomTitre 
{
	text-align: left;
	color: CornflowerBlue;
	font-size: small;
	font-weight: bold;
	padding-bottom: 2%;
	padding-top: 2%;
}

/*************************************/
/* anomaliesFiche */
/*************************************/

#localisationAnomalie
{
	display: none;
}

#pieceAnomalie
{
	display: none;
}

#interEnCoursAno
{
	display: none;
}

#interFinitAno
{
	display: none;
}
.inputTextAnomalieDisabled{
    width: 100%;
    font-family: Arial, Verdana, sans-serif; 
    font-weight: normal;
}
