/********************/
/* Creation Expert */
/********************/

#content
{
	margin-top : 7%;
	margin-left: 22%;
	width: 55%;
}

/***********************/
/*  contenu du Profil  */
/***********************/

#titreExpert
{
	background:#FEFEE2 ;
	border:#cccccc solid 1px;
	border-radius: 10px;
	text-align: center;
	height: 20px;
	padding-bottom: 5%;
}

h2{
  	background-size: 100%;
  	margin: 0 0 0 0;
  	font-family: Arial, Verdana, sans-serif;
	background-attachment: fixed;
  	color: #000063;
  	display: block;
  	font-size: 1.17em;
  	-webkit-margin-before: 1em;
  	-webkit-margin-after: 1em;
  	-webkit-margin-start: 0px;
  	-webkit-margin-end: 0px;
  	font-weight: bold;
  	margin: 0px;
}

#contenuExpert
{
	font-size: small;
}

/**********************/
/*  Creation Expert  */
/**********************/
#creationExpert
{
	/*margin-top:-225%;*/
	margin-top:2%;
	background-image:linear-gradient(#FEFEE2, #E5EBEF);
	border:#cccccc solid 1px;
	border-radius: 10px;
	padding-bottom: 4%;
	width:352px;
}

#titreCreation
{
	background:#FEFEE2 ;
	padding-left:1%;
	font-size: 15px;
	color: #000063;
	font-family: Arial, Verdana, sans-serif;
}

#buttEnregistre
{
	margin-top:2%;
	margin-left:43%;
}

/**************************/
/*  Consultation Expert  */
/**************************/
#consultationExpert
{
	margin-top:-79%;
	background-image:linear-gradient(#FEFEE2, #E5EBEF);
	border:#cccccc solid 1px;
	border-radius: 10px;
	padding-bottom: 1%;
	width:352px;
}

#titreConsultation
{
	background:#FEFEE2 ;
	padding-left:1%;
	font-size: 15px;
	color: #000063;
	font-family: Arial, Verdana, sans-serif;	
}

#buttSuppr
{
	float:right;
	padding-right:5%;
}

#tableExpert
{
	margin-top:2%;
}

.titreTableExpert
{
	color: #000063;
	width: 127px;
}

.ligne_horizontale
{
    width:280px;
    border-bottom:1px solid #cccccc;
    height:5px;
    margin-left:10%;
}

#checkSuppression
{
	color: #000063;
	padding-left:37%;
}

