/*************************************/
/* Mini Barre d'�tat Consultation Diagnostic */
/*************************************/

h2{
  	background-size: 100%;
  	padding-left: 11px;
  	font-family: Arial, Verdana, sans-serif;
	background-attachment: fixed;
  	color: #D90000;
  	display: block;
  	font-size: 1.17em;
  	-webkit-margin-before: 1em;
  	-webkit-margin-after: 1em;
  	-webkit-margin-start: 0px;
  	-webkit-margin-end: 0px;
  	font-weight: bold;

  	margin:0px;
  	margin-top:3px;
}

#content
{
	margin-left: 20%;
	padding-bottom:5px;

	width: 58.5%;
	height:306px;

	background-color: white;
  	border: #cccccc solid 1px;
  	border-radius:1px;  	
  	
  	font-size:smaller;
}

.italique
{
	font-style:italic;
}

a:visited !important
{
	color: black;
}

a
{
	text-decoration: none;
}

/*************************************/
/* Tableau */
/*************************************/

#InfoErpDiagnostic
{
	background: ghostwhite;
	margin-left: 1%;
	width: 97.5%;
	margin-top: 16px;
	border:#cccccc solid 1px;
	display:inline-block;
}

#InfoErpDiagnostic h3
{
	margin: 0px;
	background-image:linear-gradient(#f9f9f9, #f1f1f1);
	text-align: left;
	color: CornflowerBlue;
	font-size: 1.17em;
	height: 27px;
}

table
{
	font-family: Arial, Verdana, sans-serif;
	font-size:11px;
	text-align:center;

	width:100%;

	border-collapse: collapse;
	border:#cccccc solid 1px;
	
	margin-top:5px;
}

table th
{
	width:20%;
	height:25px;
	background-image:linear-gradient(#fAfAfA, #f2f2f2);
	border:#cccccc solid 1px;
}

table td
{
	border:#cccccc solid 1px;
	height:15px;
}

table:first-of-type
{
	float:left;
	margin-right:10px;
}

table:nth-of-type
{
	float:right;
}

table tr:nth-child(odd)
{
	background:white;
}

table tr:nth-child(even)
{
	background:#E9EFF8;
}