/*********************************/
/*    Style de la page / div     */
/*********************************/

#content
{
	margin-top : 5%;
	margin-left: 1%;
	margin-right: 1%;
	border:#cccccc solid 1px;
}

/******************************************/
/*Style générale du tableau et des entêtes*/
/******************************************/

table {
    border-collapse: collapse;
    width: 100%;
}

th, td 
{
	border-top:#cccccc solid 1px;
	border-bottom:#cccccc solid 1px;
}

.table-header1, 
.table-header2, 
.table-header3
{
	background-image:linear-gradient(#fAfAfA, #f2f2f2);
}

.table-header1
{
	font-size: 1.1em;
	text-align:left;	
	border-bottom-width:2px;
	height: 40px;
}

.table-header3
{
	height: 45px;
}

.table-header2, 
.table-header3
{
	font-size: 0.9em;
	color: #424242;
}

.table-header3 .Temps,
.ligneOrange td
{
	width: 16%;
}

/******************************************/
/*  Mise en forme du contenu du tableau   */
/******************************************/

/*  Propriétés communes   */

.NomIntervention
{
	width: 16%;
}

.Etat
{
	width: 4%;
}

.Etat, 
tr:not(.ligneOrange) > td:nth-of-type(2)
{
	border-right: #3399ff solid 1px;
}

td:first-of-type:hover
{
    cursor: pointer;
}

/*  Anomalie   */

.ligneBlanche
{
	background-color: #FFFFFF ;
	height: 30px;
}

.spanAnomalie
{
	margin-left:50px;
}


/*  Intervention   */

.spanIntervention
{
	margin-left:100px;
}

.ligneBleueType
{
	background-color: #E9EFF8 ;
	height: 30px;
}

.ligneBleueIntervention
{
	background-color: white ;
	height: 30px;
}

/*  Description Intervention   */

.ligneOrange
{
	background-color: #FFE6D5 ;
	height: 80px;
}

.ligneOrange input
{
	width:49%;
}

.ligneOrange label
{
	display:inline-block;
	width:49%;
}

.ligneOrange input[type="number"]
{
	background-image:linear-gradient(#f2f2f2, white);
}

.ligneOrange input[disabled="disabled"]
{
	color:#CDC0B9;
}

.ligneOrange input[type="button"]
{
	font-size: 0.8em;
}

td:nth-of-type(2) label
{
	width:100%;
}

textarea{
	width:97%;
	height:80%;
}


/*  Rectangle Intervention   */

.rectangle
{
	width: 30%;
	background-color: #FFCC66 ;
	border: #CC3300 solid 1px;
	border-radius:5px;
	margin-left: 0%;
  	padding-bottom: 3px;
  	padding-top: 3px;
}

.dateFin
{
	float:right;
}

.dateFin, .dateDebut
{
	font-size:smaller;
}