
.fixEntete{
 z-index: 9999;
 position: fixed;
 top: 0;
 /* Mise en forme */
 width: 100%; /* <-- Largeur de votre site */
 height: 75px;
 
 }



/*************************/
/* Div générale          */
/*************************/



#DivPrincipale
{
	/*border: #BDBDBD solid 1px;*/
	width: 75%;
	height: auto;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	border-radius: 2px;
	/*display: none;*/
	
}

#graphs
{
	width: auto;
	height: 0  auto;
}

#statistiques
{
	border: #E6ECF7 solid 1px;
	height: 244px;
	width: auto;
	margin: 2px;
	border-radius: 2px;
	background: #F9FAFA;
 	background-size: contain;

}

 #enteteStatistiques
{
	font-size: 22px;
	font-weight:bold;
	border-radius: 2px;
	text-align: center;
	border: #E6ECF7 solid 1px;
	margin-left: 7%;
	margin-right: 7%;
	background-image:linear-gradient(white,#E9EAED);
 	background-size: contain;
	padding: 2px;
	margin-top: 10px;
}


.lesPublications
{
	width: auto;
	clear:both;
	display:inline-block;
	/*border: #E6ECF7 solid 1px;*/
	height: auto;
	margin: 2px;
	margin-top: 20px;
	
}

.publications
{	
	padding-left: 3px;
	padding-right: 3px;
	text-align:justify;
	float:left;
	margin: 1px;
	width: 70%;
	height: auto;
	border-radius: 2px;
	display: table;
	background: white;
	margin-top: 20px;
}


.wrapSpecial1
{
	border-radius: 2px;
	padding-left: 3px;
	padding-right: 3px;
	background: white;
	text-align:justify;
	width: 55%;
	float: left;
}
#photoMalakoff
{
	width: 42%;
	float: right;
}
.utiles
{
	float: right;
	margin: 1px;
	width: 28%;
	height: auto;
	border-radius: 2px;
	display: table;
	border: #E6ECF7 solid 1px;
	background:#E9EAED;
	margin-top: 20px;
}
.map
{
	margin: 1px;
	width: 100%;
	height: auto;
	border-radius: 2px;
	display: table;
	
}


.conteneur1{
	
height: 210px; 
width: 49.5%; 
float: left; 
margin-left: 2px; 
margin-top: 4px; 
margin-bottom: 4px;
border : #E6ECF7 solid 1px;

}

.conteneur2{
	
height: 210px; 
width:49.5%; 
float: right; 
margin-right: 2px; 
margin-top: 4px; 
margin-bottom: 4px; 
border : #E6ECF7 solid 1px;
color: red;

}
				

#commentaireAll
{
	clear:both;
	
}


#commentaires
{
	clear:both;
	float:left;
	width:49%;
	margin-top:15px;
	border-radius: 2px;
	/*background-image:linear-gradient(#E0ECF8, #5D7A8C);*/
	background: url("../images/barreDeMenu4.png");
 	background-size: contain;
	
}
.ajoutCommentaires
{
	
	border: #E6ECF7 solid 1px;
	border-radius: 2px;
	margin-top: 15px;
	width: 49%;
	/*background-image:linear-gradient(#E0ECF8, #5D7A8C);*/
	background: url("../images/barreDeMenu4.png");
 	background-size: contain;
	float: right;
}

.zoneCommentaire
{
	
	width: 98%;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	
}

/************************/
/* Bandeau recherche    */
/************************/



#BandeauRecherche

{
	
	border: #E6ECF7 solid 1px;
	width: 20%;
	height: auto;
	float: left;
	margin-top: 20px;
	border-radius: 2px;
	/*background-image:linear-gradient(#E0ECF8, #5D7A8C);
	/*opacity: 0.5;*/
	background: #F9FAFA;
 	background-size: contain;
}

#divEnteteRecherche
{
	border: #E6ECF7 solid 1px;
	width: 86%;
	margin-top: 10px;
	text-align:center;
	margin-left: 7%;
	margin-right: 7%;	
	background-image:linear-gradient(white,#E9EAED);
	/*background: url("../images/barreDeMenu4.png");*/
 	background-size: contain;
	color: black;
	font-size: 20px; 
	border-radius: 2px;
	
	
}


#champDeRecherche
{
	border: #E6ECF7 solid 1px;
	width: 86%;
	margin-top: 10px;
	border-radius: 2px;
	vertical-align: middle;
	margin-left: 7%;
	margin-right: 7%;
	margin-bottom: 10px;
}

#champsDeRecherche
{
	margin-top: 5px;
	margin-left: 7%;
	margin-right: 7%;
}

#resultatsDeRecherche
{
	/*border: #BDBDBD solid 1px;*/
	width: 86%;
	margin-top: 10px;
	height : auto;
	vertical-align: middle;
	margin-left: 7%;
	margin-right: 7%;
	border-radius: 2px;
	margin-bottom: 10px;
}

.resultatErp
{
	height: 100%!important;
}
.listBox4
{
	width:75%; 
	margin-left: 7%;
	margin-right: 7%;
	margin-top: 1px;
	margin-bottom: 1px;
	border-style: solid;
	border-color: #E6ECF7;
	max-height: 335px;
}

.boutonTrouver
{
	border: #E6ECF7 solid 1px;
	/*background-image:linear-gradient(#E0ECF8, #5D7A8C);*/
	background: url("../images/barreDeMenu4.png");
 	background-size: contain;
	color: black;
	font-size: 20px;

	width: 70%;
	border-radius: 2px;
	margin-left: 5%;
 	margin-right: 5%;
	
}




/* Login *************************************/
/*********************************************/

#login
{
	border: #E6ECF7 solid 1px;
	width: 20%;
	height: auto;
	float: left;
	margin-top: 20px;
	border-radius: 2px;
	/*background-image:linear-gradient(#E0ECF8, #5D7A8C);*/
	background: #F9FAFA;
 	background-size: contain;
}


.boutonOuvertureLogin
{
	border: #E6ECF7 solid 1px;
	width: 86%;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align:center;
	margin-left: 7%;
	margin-right: 7%;
	font-size: 20px; 
	border-radius: 2px;
	background-image:linear-gradient(white,#E9EAED)!important;
}

.boutonConnexion
{
	border: #E6ECF7 solid 1px;
	background-image:linear-gradient(white,#E9EAED)!important;
 	background-size: contain;
	color: black;
	font-size: 20px; 
	vertical-align: middle;
	margin: 0 auto;
	width: 70%;
	border-radius: 2px;
	margin-top: 1px;
	margin-bottom: 2px;
	
}

.identifiants
{
	width: 69%;
}
.champIdentifiant
{
	clear:both;
	vertical-align: middle;
	margin: 0 auto;
	width: 86%;
	margin-top: 1px;
	margin-left: 20%;
}


.errorLogin
{
	color: red;
	/*visibility: hidden; */
}

/*************************************************************************************/
/**************************************************************************************/

body
{
	background-image: url("../images/ArrierePlan.png");
	background-size: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	overflow-y: auto;
	background-attachment: fixed;
}


/****************************/
/* Barre de menu principale */
/****************************/

#enTete {
	height: 75px;
	width: 100%;	
	background-image: url("../images/barreDeMenu4.png"), url("../images/ArrierePlan.png");
 	background-size: 100% 40px, 100%;
 	background-position: 0px 25px, top;
  	background-repeat: no-repeat, no-repeat;
	background-color: white;
	/*position: fixed;*/

}

#rechercheBandeau {
	display: inline-block;
	padding-top: 3%;
	padding-left: 5%;
	position: absolute;
}

#rechercheBandeau > input[type="text"]
{   
    width: 200px;
}

#rechercheBandeau > input[type="image"]
{
	height: 19px;
	float: right;
	border: #E6ECF7 solid 1px;
	/*
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	*/
}

#rechercheBandeau > div
{
	width: 89.5%;
  	background-color: white;
  	margin-left: 1px;
  	display: none;
}

#logoAccueil {
	margin-left: 7%;
	height: 73%;
	margin-bottom: 2%;
	cursor: pointer;
}

#logoErp {
	margin-left: 31%;
}

.logoMenu {
	margin-top: 1%;
	height: 93%;
	width: auto;
}

#logoTabBord
{
	margin-left: 5%;
}

.lienAccueil {
	height: 87px;
	width: 287px;
}