html
{
	overflow: scroll;
	
}
.fixEntete{
 z-index: 9999;
 position: fixed;
 top: 0;
 /* Mise en forme */
 width: 100%; /* <-- Largeur de votre site */
 height: 75px;
 
 }



/*************************/
/* Div générale          */
/*************************/

#divMap
{
	border: #BDBDBD solid 1px;
	width: 75%;
	height: auto;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	border-radius: 7px;
	display: none;
}

#DivPrincipale
{
	/*border: #BDBDBD solid 1px;*/
	width: 75%;
	height: auto;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	border-radius: 7px;
	
	
}

#graphs
{
	width: auto;
	height: auto;
}

#statistiques
{
	border: #BDBDBD solid 1px;
	height: 280px;
	width: auto;
	margin: 2px;
	border-radius: 7px;
	background: #F9FAFA;
 	background-size: contain;
	
	
	/*background-image:linear-gradient(#E0ECF8, #5D7A8C);
	/*opacity: 0.5;*/
}

 #enteteStatistiques
{
	font-size: 15px;
	border-radius: 5px;
	text-align: center;
	border: #BDBDBD solid 1px;
	margin-left: 7%;
	margin-right: 7%;
	/*background-image:linear-gradient(#E0ECF8, #5D7A8C);*/
	background: url("../images/barreDeMenu4.png");
 	background-size: contain;
	padding: 2px;
	margin-top: 10px;
}

#publications
{
	float:left;
	border: #BDBDBD solid 1px;
	margin-left: 1px;
	margin-right: 1px;
	width: 49.5%;
	height: auto;
	border-radius: 7px;
	/*background-image:linear-gradient(#E0ECF8, #5D7A8C);*/
	display: table;
}

#commentaireAll
{
	clear:both;
	
}


#commentaires
{
	clear:both;
	float:left;
	width:49%;
	margin-top:15px;
	border-radius: 7px;
	/*background-image:linear-gradient(#E0ECF8, #5D7A8C);*/
	background: url("../images/barreDeMenu4.png");
 	background-size: contain;
	
}
.ajoutCommentaires
{
	
	border: #BDBDBD solid 1px;
	border-radius: 7px;
	margin-top: 15px;
	width: 49%;
	/*background-image:linear-gradient(#E0ECF8, #5D7A8C);*/
	background: url("../images/barreDeMenu4.png");
 	background-size: contain;
	float: right;
}

.zoneCommentaire
{
	
	width: 98%;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	
}

/************************/
/* Bandeau recherche    */
/************************/



#BandeauRecherche

{
	
	border: #BDBDBD solid 1px;
	width: 19%;
	height: auto;
	float: left;
	margin-top: 20px;
	border-radius: 7px;
	/*background-image:linear-gradient(#E0ECF8, #5D7A8C);
	/*opacity: 0.5;*/
	background: #F9FAFA;
 	background-size: contain;
}

#divEnteteRecherche
{
	border: #BDBDBD solid 1px;
	width: 80%;
	margin-top: 10px;
	text-align:center;
	margin-left: 7%;
	margin-right: 7%;	
	/*background-image:linear-gradient(#E0ECF8, #5D7A8C);*/
	background: url("../images/barreDeMenu4.png");
 	background-size: contain;
	color: black;
	font-size: 20px; 
	border-radius: 7px;
	
	
}


#champDeRecherche
{
	border: #BDBDBD solid 1px;
	width: 80%;
	margin-top: 10px;
	border-radius: 7px;
	vertical-align: middle;
	margin-left: 7%;
	margin-right: 7%;
}

#champsDeRecherche
{
	margin-top: 5px;
	margin-left: 7%;
	margin-right: 7%;
}

#resultatsDeRecherche
{
	/*border: #BDBDBD solid 1px;*/
	width: 80%;
	margin-top: 10px;
	height : auto;
	vertical-align: middle;
	margin-left: 7%;
	margin-right: 7%;
	border-radius: 7px;
	margin-bottom: 10px;
}

.listBox4
{
	width:75%; 
	margin-left: 7%;
	margin-right: 7%;
	margin-top: 1px;
	margin-bottom: 1px;
	border-style: solid;
	border-color: #BDBDBD;
	max-height: 335px;
}

.boutonTrouver
{
	border: #BDBDBD solid 1px;
	/*background-image:linear-gradient(#E0ECF8, #5D7A8C);*/
	background: url("../images/barreDeMenu4.png");
 	background-size: contain;
	color: black;
	font-size: 20px;

	width: 70%;
	border-radius: 5px;
	margin-left: 5%;
 	margin-right: 5%;
	
}




/* Login *************************************/
/*********************************************/

#login
{
	border: #BDBDBD solid 1px;
	width: 19%;
	height: auto;
	float: left;
	margin-top: 20px;
	border-radius: 7px;
	/*background-image:linear-gradient(#E0ECF8, #5D7A8C);*/
	background: #F9FAFA;
 	background-size: contain;
}


.boutonOuvertureLogin
{
	border: #BDBDBD solid 1px;
	width: 86%;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align:center;
	margin-left: 7%;
	margin-right: 7%;	
	/*background-image:linear-gradient(#E0ECF8, #5D7A8C);*/
	background: url("../images/barreDeMenu4.png");
 	background-size: contain;
	color: black;
	font-size: 20px; 
	border-radius: 5px;
}

.boutonConnexion
{
	border: #BDBDBD solid 1px;
	/*background-image:linear-gradient(#E0ECF8, #5D7A8C);*/
	background: url("../images/barreDeMenu4.png");
 	background-size: contain;
	color: black;
	font-size: 20px; 
	vertical-align: middle;
	margin: 0 auto;
	width: 70%;
	border-radius: 5px;
	margin-top: 1px;
	margin-bottom: 2px;
	
}
#champIdentifiant
{
	
	vertical-align: middle;
	margin: 0 auto;
	width: 86%;
	margin-top: 1px;
}


.errorLogin
{
	color: red;
	/*visibility: hidden; */
}

/*************************************************************************************/
/**************************************************************************************/

body
{
	background-image: url("../images/ArrierePlan.png");
	background-size: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	overflow-y: auto;
	font-family: Corbel;
	background-attachment: fixed;
}


/****************************/
/* Barre de menu principale */
/****************************/

#enTete {
	height: 75px;
	width: 100%;	
	background-image: url("../images/barreDeMenu4.png"), url("../images/ArrierePlan.png");
 	background-size: 100% 40px, 100%;
 	background-position: 0px 25px, top;
  	background-repeat: no-repeat, no-repeat;
	background-color: white;
	/*position: fixed;*/

}

#rechercheBandeau {
	display: inline-block;
	padding-top: 3%;
	padding-left: 5%;
	position: absolute;
}

#rechercheBandeau > input[type="text"]
{   
    width: 200px;
}

#rechercheBandeau > input[type="image"]
{
	height: 19px;
	float: right;
	border: #BDBDBD solid 1px;
	/*
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	*/
}

#rechercheBandeau > div
{
	width: 89.5%;
  	background-color: white;
  	margin-left: 1px;
  	display: none;
}

#logoAccueil {
	margin-left: 7%;
	height: 73%;
	margin-bottom: 2%;
	cursor: pointer;
}

#logoErp {
	margin-left: 31%;
}

.logoMenu {
	margin-top: 1%;
	height: 93%;
	width: auto;
}

#logoTabBord
{
	margin-left: 5%;
}

.lienAccueil {
	height: 87px;
	width: 287px;
}