/*************************************/
/* Mise en forme g�n�rale de la page */
/*************************************/

body
{
	background-image: url("../images/ArrierePlan.png");
	background-size: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-family: sans-serif;
	background-attachment: fixed;
}

.content
{
	margin-top:100px;
}


/****************************/
/* Barre de menu principale */
/****************************/

.fixEntete{
 z-index: 9999;
 position: fixed;
 top: 0;
 /* Mise en forme */
 width: 100%; /* <-- Largeur de votre site */
 height: 75px;
 
 }

#enTete {
	height: 75px;
	width: 100%;	
	background-image: url("../images/barreDeMenu4.png"), url("../images/ArrierePlan.png");
 	background-size: 100% 40px, 100%;
 	background-position: 0px 25px, top;
  	background-repeat: no-repeat, no-repeat;
	background-color: white;
	position: fixed;
	margin-top: -6.3em;
	z-index: 9999;
}

#rechercheBandeau {
	display: inline-block;
	padding-top: 3%;
	padding-left: 5%;
	position: absolute;
}

#rechercheBandeau > input[type="text"]
{   
    width: 200px;
}

.logoRecherche
{
	height: 19px;
	border: #BDBDBD solid 1px;
	margin-right:250px;
}

#rechercheBandeau > div
{
	width: 89.5%;
  	background-color: white;
  	margin-left: 1px;
	display: none;
}

#logoAccueil {
	margin-left: 7%;
	height: 73%;
	margin-bottom: 2%;
}

.logoMenu, .logoMenu2 {
	height: 90px;
	width: auto;
	float:right;
	display:inline-block;
	margin-top:-50px;
	margin-left:5px;
}

.logoMenu2
{
	margin-left:100px;
}

.lienAccueil {
	height: 87px;
	width: 287px;
}



/**************************/
/* Barre de menu lat�rale */
/**************************/

#bandeauGauche
{
	position: fixed;
  	width: 200px;
  	margin-left: 5%;
  	margin-top: 7%;
}

#boutonAjouter
{
	width: 100%;
}

#radio
{
	font-size: x-small;
	margin-top: 8px;
	margin-right: 0px;
}

#radio > label
{
	width: 65px;
	height: 20px;
}

#accordion
{
	font-size: x-small;
	margin-top: 8px;
}

#accordion > div
{
	height: 200px;
}

.boutonJquery {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  text-align:center;
  color: #0073ea;
  font-size: 20px;
  background: #f6f6f6;
  padding: 10px 20px 10px 20px;
  border: solid #dddddd 1px;
  text-decoration: none;

  display:inline-block;
  width:79%;

}

.boutonJquery:hover {
  background: #0073ea;
  text-decoration: none;
  border-radius: 4px;
  color:white;
}

a:visited 
{
	color: #0073ea !important;
	text-decoration: none !important;
}
/**************************/
/*  Barre de menu droite  */
/**************************/

#bandeauDroite
{
	margin-left: 80%;
 	margin-top: 7%;
 	width: 200px;
 	background-color: white;
 	border: #BDBDBD solid 1px;
	border-radius: 1px;
	position: fixed;
}

fieldset
{
	border: none;
	font-size: small;
	padding: 6px;
 	margin-bottom: 12px;
}

fieldset > legend
{
	border-bottom: #333366 solid 1px;
	font-weight: bold;
	font-size: larger;
	color: #333366;
	width: 100%;
}

article
{
	margin-bottom: 10px;
	border-bottom: #CCCCCC solid 1px;
}

article > header
{
	margin-bottom:5px;
	color: blue;
}

article > time
{
	font-style: italic;
}

article > section
{
	margin-bottom: 10px;
}
