


html
{
	overflow: scroll;
}

.affiche{
	clear:both;
	font-family: Corbel;
	margin-top: 30px;
}

.logoTypeDiag{

	float: left;
	width: 13%;
}

.intituleDiag{
	float: left;
	width: 18%;
	color: #2E2EFE;
	font-weight: bold;
	text-align: middle;
	line-height: 75px;
	font-family: Corbel;
	font-size: 14px;
	
}

.nbInterDiag{
	float: left;
	width: 18%;
	text-align: middle;
	line-height: 30px;
	font-family: Corbel;
	font-size: 12px;
	font-weight: bold;
	
}

.logoIndicateur{
	float: left;
	width: 27%;
}

.logoEtatAvancement{
	float: left;
	width: 8%;
	text-align: center;
	margin-top: 0.7%;
}

.boutonsActions{
	float: right;
	width: 12%;
	
}

.repeatDiag{
	position: absolute;
	bottom: 0;
}

.bouton
{
	width: 75px;
	border-radius: 5px;
	margin-top: 10%;
	text-align: middle;
	line-height: 17px;
	background-color: !important;
	font-family: Corbel;
}

*.rf-p-hdr
{
	clear:both;
	font-size: 16px !important;
	font-family: Corbel !important;
}

.boutonPlanning
{
	float: right;
	font-size: 12px;
	font-family: Corbel;
	font-color: White;
	background-color: #OOFFOO;
}


.panelFiltres
{
	margin-left: 14%;
	width: 60%;
}

#filtres.rf-p
{
	float: left!important;
	width: 20px!important;
}
.piotr {
	width: 95% !important;
	height: 40px !important;
	background-color: #f7f7f7 !important;
	background-image: none !important;
	margin-left: 1px!important;
	margin-right: 1px!important;
	border-radius : 3px!important;
}
.piotr2 {
	width: 19.5% !important;
	height: 75px !important;
	background-color: #EFF2FB !important;
	background-image: none !important;
	float:left !important;
	border-radius : 3px!important;
	
}

.piotr3{
	width: 50px !important;	
	
}

input.rf-sel-inp{
	width:134px !important;
	height:100% !important;
}

.rf-sel-cntr{
	margin-left: -4px!important;
	margin-bottom: 2%!important;
	vertical-align: bottom;
	}

.rf-p-hdr{
	border-radius:3px!important;
	width: 99%!important;	
}