
html
{
	overflow: scroll;
}

#panel{
	font-family: Corbel;
}

.logoTypeDiag{
	float: left;
	width: 13%;
}
.intituleDiag{
	float: left;
	width: 18%;
	color: #2E2EFE;
	font-weight: bold;
	text-align: middle;
	line-height: 53px;
	font-family: Corbel;
	font-size: 14px;
	
}
.nbInterDiag{
	float: left;
	width: 18%;
	text-align: middle;
	line-height: 30px;
	font-family: Corbel;
	font-size: 12px;
	font-weight: bold;
	
}
.logoIndicateur{
	float: left;
	width: 27%;
}
.logoEtatAvancement{
	float: left;
	width: 8%;
	text-align: center;
	margin-top: 1%;
}
.boutonsActions{
	float: right;
	width: 12%;
	
}

.repeatDiag{
	position: absolute;
	bottom: 0;
}

.bouton{
	width: 75px;
	border-radius: 5px;
	margin-top: 10%;
	text-align: middle;
	line-height: 17px;
	background-color: !important;
	font-family: Corbel;
}

*.rf-p-hdr
{
	clear:both;
	font-size: 16px !important;
	font-family: Corbel !important;
	border-radius: 5px;
	background: #6c8be7 !important;
}